!
upgrade fpd auto
version {{ globals.version }}
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ device.hostname }}
!
boot-start-marker
boot-end-marker
!
!
enable secret 0 test123 
!
aaa new-model
!
!
aaa authentication login TACACS_LOGIN group tacacs+ local
!
!
!
!
!
aaa session-id common
no ip icmp rate-limit unreachable
!
!
!
!
!
!
no ip domain lookup
ip domain name test.com
{%- for server in globals.dns %}
ip name-server {{ server }}
{%- endfor %}
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
archive
 path scp://amit:amit@10.1.1.50/backup/$h
 write-memory
username test123 privilege 15 password 0 test123 
!
redundancy
!
!
ip tcp synwait-time 5
ip ssh source-interface Loopback0
ip ssh version 2
! 
!
!
!
!
!
!
!
!
!
interface Loopback0
 description Management Interface
 ip address {{ device.loopback }} 255.255.255.255
 ip ospf 1 area 0
!
{%- if device.neighbors is defined %}
 {%- for neighbor,attributes in device.neighbors.iteritems() %}
interface Port-channel{{ attributes['lag'] }}
 description {{ neighbor }}
 ip address {{ attributes['lag_ip'] }} 255.255.255.254
 load-interval 30
 no shutdown
!
 {%- endfor %}
{%- endif %}
interface Ethernet0/0
 no ip address
 shutdown
 duplex auto
!
interface GigabitEthernet0/0
 description OOB Interface
 ip address {{ device.oob }} 255.255.255.0
 ip ospf 1 area 0
 load-interval 30
 duplex full
 speed 1000
 media-type gbic
 negotiation auto
 no shutdown
!
{%- for interface,ip_address,description in device.intf_ip_mapping %}
interface {{ interface }}
 description {{ description }} 
 ip address {{ ip_address }} 255.255.255.254
 ip ospf network point-to-point
 ip ospf cost {{ device.pod.vars.ospf.cost }}
 ip ospf 1 area 0
 load-interval 30
 negotiation auto
 no shutdown
!
{%- endfor %}
{%- if device.neighbors is defined %}
 {%- for neighbor,attributes in device.neighbors.iteritems() %}
  {%- for member,description in attributes['lag_members'] %}
interface {{ member }}
 description {{ description }}
 channel-group {{ attributes['lag'] }}
 load-interval 30
 negotiation auto
 no shutdown
!
  {%- endfor %} 
 {%- endfor %}
{%- endif %}
!
router ospf 1
 max-metric router-lsa external-lsa include-stub summary-lsa
!
router bgp {{ globals.asn }}
 bgp log-neighbor-changes
 neighbor IBGP peer-group
 neighbor IBGP remote-as {{ globals.asn }}
 neighbor IBGP update-source Loopback0
 neighbor IBGP next-hop-self
{%- for neighbor,description in device.ibgp.iteritems() %}
 neighbor {{ neighbor }} peer-group IBGP
 neighbor {{ neighbor }} description {{ description }} 
{%- endfor %}
{%- if device.neighbors is defined %}
 {%- for neighbor,attributes in device.neighbors.iteritems() %}
 neighbor {{ neighbor }} peer-group
 neighbor {{ neighbor }} remote-as {{ attributes['asn'] }}
 neighbor {{ neighbor }} route-map MAINTENANCE in 
 neighbor {{ neighbor }} route-map MAINTENANCE out 
 neighbor {{ attributes['remote_ip'] }} peer-group {{ neighbor }} 
 neighbor {{ attributes['remote_ip'] }} description {{ neighbor }}
 {%- endfor %}
{%- endif %}
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
!
!
no cdp log mismatch duplex
!
route-map MAINTENANCE permit 10
 set as-path prepend last-as 3
!
!
{%- for server in globals.tacacs %}
tacacs-server host {{ server }} key 0 SecretKey
{%- endfor %}
!
!
!
control-plane
!
!
!
mgcp profile default
!
!
!
gatekeeper
 shutdown
!
!
line con 0
 exec-timeout 20 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 20 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 exec-timeout 20 0
 privilege level 15
 login authentication TACACS_LOGIN
 transport input all
 transport output ssh
!
ntp server {{ globals.ntp }} source Loopback0
!
end
