hostname {{ device.hostname }}
!
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
enable secret 0 test123
aaa new-model
aaa authentication login TACACS_LOGIN group tacacs+ local
!
archive
 path scp://amit:amit@10.1.1.50/backup/$h
 write-memory
username test123 privilege 15 password test123
!
{%- for server in globals.dns %}
ip name-server {{ server }}
{%- endfor %}
!
ip domain name test.com
!
{%- for server in globals.tacacs %}
tacacs-server host {{ server }} key SecretKey
{%- endfor %}
!
ip ssh version 2
!
!
interface Loopback0
 description Management Interface
 ip address {{ device.loopback }} 255.255.255.255
 ip ospf 1 area 0
!
{%- for interface,ip_address,description in device.intf_ip_mapping %}
interface {{ interface }}
 description {{ description }} 
 ip address {{ ip_address }} 255.255.255.254
 ip ospf network point-to-point
 ip ospf cost {{ device.pod.vars.ospf.cost }}
 ip ospf 1 area 0
 no shutdown
!
{%- endfor %}

{%- if device.neighbors is defined %}
 {%- for neighbor,attributes in device.neighbors.iteritems() %}
interface port-channel{{ attributes['lag'] }}
 description {{ neighbor }}
 ip address {{ attributes['lag_ip'] }} 255.255.255.254
 no shutdown
!
  {%- for member,description in attributes['lag_members'] %}
interface {{ member }}
 description {{ description }}
 channel-group {{ attributes['lag'] }}
 no shutdown
!
  {%- endfor %} 
 {%- endfor %}
{%- endif %}

route-map MAINTENANCE permit 10
 set as-path prepend last-as 3
!
router bgp {{ globals.asn }}
 neighbor IBGP peer-group
 neighbor IBGP remote-as {{ globals.asn }}
 neighbor IBGP update-source Loopback0
 neighbor IBGP next-hop-self
{%- for neighbor,description in device.ibgp.iteritems() %}
 neighbor {{ neighbor }} peer-group IBGP
 neighbor {{ neighbor }} description {{ description }} 
{%- endfor %}
{%- if device.neighbors is defined %}
 {%- for neighbor,attributes in device.neighbors.iteritems() %}
 neighbor {{ attributes['remote_ip'] }} remote-as {{ attributes['asn'] }}
 neighbor {{ attributes['remote_ip'] }} description {{ neighbor }}
 {%- endfor %}
{%- endif %}
!
!
line con 0
 logging synchronous
 privilege level 15
!
line vty 0 4
 login authentication TACACS_LOGIN
 no exec-timeout
 privilege level 15
 transport input all
 transport output ssh
!
ntp server {{ globals.ntp }} source Loopback0
!
